/* цвет основного текста #757575  */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF*/
/* акцент #2196F3 */
/* цвет в лого #000000 */
/* цвет фона #E5E5E5 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --hero-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --button-bg-hover-color: #188ce8;
  --header-border-color: #ececec;
}

.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  }

/* Header */

.top-header {
border-bottom: 1px solid var(--header-border-color);
}

.header {
  display: flex;
  align-items: center;
  margin-top: 0;
  }

/* Logo */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.span {
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Site nav */

.nav {
  display: flex;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
  min-width: 696px;
}

.hero-text {
  background: var(--hero-bg-color);
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 280px;
  margin: 0 auto;
}

.hero-text .button:hover {
  background-color: var(--button-bg-hover-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Portfolio works */

.portfolio {
  padding-top: 84px;
  padding-bottom: 104px;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-works {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc(100%/3-30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-works .link {
  text-decoration: none;
  }

.portfolio-works .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 4px;
  padding-top: 0;
  padding-bottom: 0;
}

.portfolio-works .text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.item-content {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE; 
  border-right: 1px solid #EEEEEE;
}

/* Features */
.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  margin-top: 0;
  margin-bottom: 0;
  }

  .feature-list {
    display: flex;
  }
  
  .feature-list .item {
    width: 270px;
    margin-left: 30px;
  }

 .feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
}

/* Working */

.working {
  padding-top: 0;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
  }

.we-working {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

.working-list {
  display: flex;
  list-style: none;
}

.working-list .item + .item {
  margin-left: 30px;
}

/* Team */

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  max-width: 1600px;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
  padding-bottom:0;
}

.section-title .team {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 50px;
  }

  .team-list {
    display: flex;
  }

  .team-list .item {
    width: 270px;
  }

  .team-list .item + .item {
    margin-left: 30px;
    
  }

  .team-worker {
    padding-top: 30px;
    padding-bottom: 30px;
  }

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  }

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Button */

.button {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  cursor: pointer;

  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0;
  }

.portfolio-button {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  color: var(--title-text-color);
  margin: 0;
  padding: 0;
}

.portfolio-button .item + .item {
  display: flex;
  margin-left: 8px;
}

.portfolio-button .list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  max-width: 145px;
  padding: 6px 22px;
  margin-top: 0;
  margin-bottom: 56px;
}

.portfolio-button .list:hover {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  cursor: pointer;
}

/* Footer */

.footer-site {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
 }

.footer {
  background: var(--hero-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hero-text-color);
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;

  .address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--hero-text-color);
  margin-top: 0;
  margin-bottom: 9px;
  padding-top: 0;
  padding-bottom: 0;
  width: 231px;
}

.footer-nav .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-link-color);
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 9px;
  padding-top: 0;
  padding-bottom: 9px;
  width: 231px;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
  color: var(--accent-color);
}
